@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.websites{
    background-color: #000;
}
.websites h2{
    color: #ff4900;
    font-size: 4rem;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    padding-bottom: 40px;
}
.Check-out{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    padding: 10px 50px 30px 50px;
    font-family:Montserrat,sans-serif;
}
.website-collection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.website{
    background-color: #fff;
    width: 680px;
    height: 350px; 
    margin: 30px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    transition: 1s all ease;
}
.website-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.website-1{
    background-image: url('../Images/websiteImages/yearbook2022.jpg');  
}
.website-1:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../Images/websiteImages/yearbook2022.jpg');  
}
.website-2{
    background-image: url('../Images/websiteImages/InterIIT2022.jpg');
}
.website-2:hover{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../Images/websiteImages/InterIIT2022.jpg');
}
.website-3{
    background-image: url('../Images/websiteImages/tedxiitgn2023.jpg');
}
.website-3:hover{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../Images/websiteImages/tedxiitgn2023.jpg');
}
.website-4{
    background-image: url('../Images/websiteImages/yearbook2023.jpg');
}
.website-4:hover{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../Images/websiteImages/yearbook2023.jpg');
}
.website-5{
    background-image: url('../Images/websiteImages/weather2023.jpg');
}
.website-5:hover{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../Images/websiteImages/weather2023.jpg');
}
.website-6{
    background-image: url('../Images/websiteImages/Shriyash2023.jpg');
}
.website-6:hover{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../Images/websiteImages/Shriyash2023.jpg');
}
.website-7{
    background-image: url('../Images/websiteImages/RecommendationSystems2023.jpg');
}
.website-7:hover{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../Images/websiteImages/RecommendationSystems2023.jpg');
}
.website-8{
    background-image: url('../Images/websiteImages/WorldInequlaity.jpg');
}
.website-8:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../Images/websiteImages/WorldInequlaity.jpg');
}

.website-name{
    font-size: 2rem;
    font-family: Montserrat,sans-serif;
    text-align: center;
    margin-top: 335px;
    position: absolute;
    width: 350px;
    background-color: #fff;
    height: 30px;
    color: #000;
    transform-origin: left center;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.links{
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: none;
}
.link{
    border: 3px solid #ff4900;
    height: fit-content;
    padding: 10px 25px;
    background-color: #000;
    margin: 20px;
    border-radius: 30px;
    color: #ff4900 ;
}
.website:hover .links {
    display: flex !important;
    transition-duration: 0.8s;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
 .button {
    position: relative;
    background-color:#313131;
    border-radius: 3px;
    box-shadow: 3px 4px 0 #524A4E;
    padding: 15px;
    margin: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: fit-content;
    height: 49px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
  }
  
  .button:before {
    content: "";
    background-color: #515151;
    width: 0;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 400ms ease-in-out;
    display: inline-block;
  }
  .button:after {
    content: "";
    background-color: #3f3f3f;
    width: 0;
    height: 50%;
    position: absolute;
    top: 25px;
    right: 0;
    z-index: -1;
    transition: width 400ms ease-in-out;
    display: inline-block;
  }
  
  .button:hover::before {
    width: 100%;
  }
  .button:hover::after {
    width: 100%;
  }